.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.customForm {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 140px;
}
.customForm div {
  margin-bottom: 15px;
  position: relative;
}

input {
  font-size: 17px;
  padding: 9px 16px;
  border-radius: 9px;
  border: 1px solid #444;
}

.errorLabel {
  display: block;
  color: red;
}